body {
    background-color: aqua;
    color: aquamarine;
    font-family: "Trebuchet MS", "Comic Sans MS", cursive;
    margin: 0;
}

header{
    font-size: 80px;
    border-bottom: double 6px powderblue;
    padding: 8px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 40px;
}